* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Manrope', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #2b8cee;
    --text-color: #0d141b;
    --primary-color: #4c739a;
    --bg-color-section: #f6f7f8;
    --text-color-light: rgb(255 255 255 / 1);
    --text-color-secundary: #64748b;
    --btn-whatsapp: #25d366;
    --bg-footer: #101922;
}

#time,
#tratamentos {
    scroll-margin-top: 40px;
    scroll-behavior: smooth;
}


header {
    position: fixed;
    background: #fff;
    top: 0;
    width: 100%;
    padding: 18px 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.hamburguer {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.bar {
    background-color: var(--text-color);
    width: 24px;
    height: 3px;
    border-radius: 6px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    color: var(--text-color);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-header {
    width: 30px;
    height: 30px;
    background-color: #2b8cee1a;
    border-radius: 6px;
}

h1 {
    font-size: 1.25rem;
    font-weight: 700;
}

.nav-list ul {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

ul li .text-link {
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.text-link:hover {
    color: var(--bg-color);
}

.btn-header {
    background: var(--bg-color);
    color: var(--bg-color-section);
    border: none;
    border-radius: 8px;
    padding: 10px 26px;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn-header-hamburger {
    display: none;
}

.btn-header:hover {
    background: #0e75db;
}

.btn-header:active {
    transform: scale(.9);
}

.home-section {
    display: flex;
    min-height: 680px;
    background-image: linear-gradient(90deg, rgba(15, 23, 42, 0.8) 15%, rgba(15, 23, 42, 0.6) 40%, rgba(15, 23, 42, 0) 100%);
}

.home-div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.img-home {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 43%;
    z-index: -1;
}

.home-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    gap: 5rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 54%;
    color: var(--text-color-light);
}

.text-home-h2 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
}

.text-special {
    color: var(--bg-color);
}

.text-home-p {
    font-size: 1.275rem;
    font-weight: 500;
    line-height: 1.7;
}

.buttons-home {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn-agendar {
    background: var(--bg-color);
    color: var(--bg-color-section);
    border: none;
    border-radius: 8px;
    padding: 14px 60px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease-in-out
}

.btn-agendar:hover {
    background: #0e75db;
}

.btn-agendar:active {
    transform: scale(.9);
}

.btn-conhecer {
    background: rgba(255, 255, 255, 0.1);
    color: var(--bg-color-section);
    border: 1px solid rgb(255 255 255 / 0.4);
    border-radius: 8px;
    padding: 14px 40px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease-in-out
}

.btn-conhecer:hover {
    background: rgba(255, 255, 255, 0.2);
}

.btn-conhecer:active {
    transform: scale(.9);
}

.section-content {
    padding: 32px 38px;
}

.numbers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    text-align: center;
}

.title-number {
    color: var(--bg-color);
    font-weight: 900;
    font-size: 1.875rem;
}

.txt-container-numbers {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-numbers {
    text-transform: uppercase;
    color: var(--text-color-secundary);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.section-servico,
.color-bakground {
    background: rgb(246 247 248 / 1);
}

.servico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 80px 32px;
}

.tx-servico-content {
    text-align: center;
}

.tx-servico {
    color: var(--bg-color);
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.h2-servico {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--text-color);
}

.card-servico {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    padding: 0 32px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.034);
    transition: all .3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.icon-container-servico {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(43 140 238 / 0.1);
    border-radius: 10px;
    width: 56px;
    height: 56px;
    margin-bottom: 16px;
    transition: all .3s ease-in-out;
}

.card:hover .icon-container-servico {
    background: var(--bg-color);
}

.icon-card {
    width: 32px;
    height: 32px;
    fill: var(--bg-color);
    transition: all .3s ease-in-out;
}

.card:hover .icon-card {
    fill: var(--bg-color-section);
}

.title-card {
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 700;
}

.tx-card-servico {
    color: var(--text-color-secundary);
    font-size: .875rem;
    font-weight: 500;
}

.learn-more {
    color: var(--bg-color);
    font-size: .875rem;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.card-menu {
    align-items: center;
}

.arrow-card {
    transition: all .3s ease-in-out;
}

.card:hover .arrow-card {
    margin-left: 5px;
}

.sobre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 80px 32px;
    min-height: 100vh;
}

.img-sobre-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.img-sobre {
    width: 50%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.img-sobre-1 {
    margin-top: 50px;
}

.tx-container-sobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.list-sobre {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.check-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.check-item svg {
    fill: var(--bg-color);
    width: 22px;
    height: 22px;
}

.tx-sobre {
    color: var(--text-color-secundary);
    font-size: 1.125rem;
}

.why-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 6rem;
    padding: 40px 32px;
}

.tx-why {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.why-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
}

.card-why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.title-card-why {
    font-size: 1rem;
}

.tx-card-why {
    color: var(--text-color-secundary);
    font-weight: 500;
    font-size: .875rem;
    text-align: center;
    line-height: 1rem;
}

.svg-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
}

.icon-why {
    width: 32px;
    height: 32px;
    fill: var(--bg-color);
}

.team-container {
    display: flex;
    flex-direction: column;
    padding: 40px 32px;
}

.tx-team {
    color: var(--bg-color);
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .2rem;
}

.h2-team {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.team-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.2rem;
    margin-bottom: 3rem;
}

.img-specialists {
    position: relative;
    overflow: hidden;
    border-radius: 12px 12px 0px 0px;
    height: 380px;
}

.img-card-dentista {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all .3s ease-in-out;
}

.img-specialists:hover .img-card-dentista {
    transform: scale(1.05);
}

.tx-content-specialist {
    padding: 1rem;
}

.tx-card-team {
    color: var(--bg-color);
    font-size: .875rem;
    font-weight: 500;
    margin-bottom: .25rem;
    margin-top: .25rem;
}

.tx-cro {
    color: var(--text-color-secundary);
    font-size: .75rem;
}

.depoimentos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px;
    gap: 3rem;
}

.card-content-depoimentos {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
}

.card-depoimentos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}

.fa-star {
    color: #FFC107;
    font-size: .75rem;
    margin-right: 4px;
}

.tx-card-depoimentos {
    color: #4c739a;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.tx-depoimentos-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img-depoimentos {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.tx-name {
    color: var(--text-color);
    font-size: .875rem;
    font-weight: 700;
}

.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 80px;
    background: #0e75db;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bg-color-section);
}

.h2-contact {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.tx-contact {
    font-size: 1.25rem;
    margin-bottom: 2.75rem;
    max-width: 680px;
    text-align: center;
}

.btn-contact {
    color: var(--bg-color-section);
    font-weight: 700;
    background: #25d366;
    padding: 1rem 2rem;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.btn-contact:hover {
    background: #2be66f;
    transform: scale(1.02);
}

.logo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.logo-footer h1 {
    color: var(--bg-color-section);
}

footer {
    background: var(--bg-footer);
    color: #94A3B8;
    padding: 80px 80px;
}

.h2-footer {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: var(--bg-color-section);
}

.tx-footer,
.footer-link {
    color: #94A3B8;
    font-size: .875rem;
    transition: all .3s ease-in-out;
}

.footer-link:hover {
    color: var(--bg-color);
}

.tx-hours {
    color: var(--bg-color-section);
    font-size: .875rem;
}

.span-closed {
    font-size: .875rem;
    color: var(--bg-color);
    font-weight: 700;
}

.sociais a,
.tx-rights a {
    color: #94A3B8;
}

.sociais {
    display: flex;
    gap: 1rem;
}

.sociais .social-icon {
    font-size: 1.5rem;
}

.tx-rights {
    font-size: .75rem;
}

.cards-footer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 3rem;
    border-bottom: 1px solid #94a3b827;
}

.card-footer-div {
    margin-bottom: 3rem;
}

.card-logo,
.card-footer-div ul,
.footer-contatos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contato-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contato-div i {
    text-align: center;
    color: var(--bg-color);
    width: 24px;
    height: 24px;
    font-size: 1.5rem;
}

.hours-display {
    display: flex;
    flex-direction: row;
    padding: 0 0 .5rem 0;
    justify-content: space-between;
    border-bottom: 1px solid #94a3b827;
}

.footer-rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.whatsapp-button {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 50px;
    transition: all .3s ease-in-out;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.fale-conosco {
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(-130px, -50%);
    left: 50%;
    color: var(--text-color);
    background: var(--bg-color-section);
    font-weight: 700;
    font-size: .75rem;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    width: 100px;
}

.whatsapp-button:hover .fale-conosco {
    display: block;
}

.img-whatsapp {
    width: 100%;
}

@media (max-width: 1024px) {

    header {
        padding: 18px 32px;
    }

    h1 {
        font-size: 1rem;
    }

    ul li .text-link {
        width: 100%;
        font-size: .75rem;
    }

    .btn-header {
        padding: .5rem .5rem;
        font-size: .75rem;
    }

    .card-servico,
    .why-cards,
    .cards-footer {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #sobre {
        scroll-margin-top: -60px;
    }

    .sobre-container {
        flex-direction: column;
    }

    .img-sobre {
        height: 250px;
        width: 100%;
    }

    .team-cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .img-specialists {
        height: 100vh;
    }

    .h2-contact {
        text-align: center;
    }
}

@media (max-width: 768px) {

    

    .btn-header {
        display: none;
    }

    .hamburguer {
        display: flex;
    }

    .nav-list {
        display: block;
        position: fixed;
        top: 73px;
        right: 0;
        height: 50vh;
        width: 100vw;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3px);
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 50px;
        transform: translateY(-200%);
        transition: .7s ease-in-out;
        z-index: -999;
    }

    .nav-list ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .nav-list ul .text-link {
        color: #0d141b;
        font-weight: 900;
    }

    .nav-list.active {
        transform: translateY(0);
    }

    .bar {
        transition: all .3s ease-in-out;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(2) {
        display: none;
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);
    }

    .btn-header-hamburger {
        display: block;
        background: var(--bg-color);
        color: var(--bg-color-section);
        border: none;
        border-radius: 8px;
        padding: 10px 18px;
        font-size: .6rem;
        font-weight: 600;
        cursor: pointer;
    }

    .text-container {
        width: 100%;
    }

    .text-home-p {
        width: 90%;
        font-size: 1.2rem;
        font-weight: 400;
    }

    .btn-agendar {
        padding: 14px 40px;
    }

    .btn-conhecer {
        padding: 14px 30px;
    }

    .numbers-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .why-cards,
    .card-content-depoimentos,
    .cards-footer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .h2-contact {
        font-size: 1.875rem;
    }

    .tx-contact {
        font-size: 1.125rem;
    }

}

@media (max-width: 670px) {

    .team-cards,
    .card-servico {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .servico-container,
    .sobre-container,
    .why-container,
    .team-container,
    .depoimentos-content {
        padding: 24px 0;
    }

    .buttons-home {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        width: 100%;
    }

    .btn-conhecer,
    .btn-agendar {
        text-align: center;
        width: 100%;
    }

    .sobre-container {
        padding: 16px;
    }

    .img-sobre-content {
        width: 200px;
    }

    .img-sobre {
        width: 50%;
    }

    .footer-rights {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 460px) {
    .text-home-h2 {
        font-size: 2.1rem;
    }

    .text-home-p {
        font-size: 1.1rem;
    }

    .btn-agendar, .btn-conhecer {
        font-size: .8rem;
    }

    .h2-contact {
        font-size: 1.3rem;
    }

    .tx-contact {
        font-size: .9rem;
    }

    .btn-contact {
        font-size: .8rem;
    }

    footer {
        padding: 80px 30px;
    }
}